@media screen and (max-width: 320px){
}
body {
  position: relative;
	margin: auto;
	-webkit-text-size-adjust: none;
	min-height: 900px;
	font-family: Trebuchet MS,verdana;
	-webkit-background-size:0.438em 100%;
	background:#cbd2d8;
	background: -webkit-gradient(linear,left top,right top,from(#c5ccd4), color-stop(71%, #c5ccd4), color-stop(72%, #cbd2d8), to(#cbd2d8));
	-webkit-touch-callout: none;
}
#topbar {
	position: relative;
	height: 44px;
	left: 0;
	top: 0;
	width: auto;
	background:#8195af;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdd5df', endColorstr='#6d84a2');
	background: -moz-linear-gradient(top,  #cdd5df,  #6d84a2);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cdd5df), color-stop(3%, #b0bccd), color-stop(50%, #889bb3), color-stop(51%, #8195af), color-stop(97%, #6d84a2), to(#2d3642));
	margin-bottom: 13px;
	border-bottom: #6d84a2 solid 1px;
	border-top: #878787 solid 1px;
}
#title {
	position: absolute;
	font-weight: bold;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 10px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #FFF;
	text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
	line-height: 44px;
	height: 44px;
	font-size: 16pt;
}
a:link {
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	color: #0c73be;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
a:visited {
	text-decoration: none; 
	color: #0c73be;
}
a:hover {
	text-decoration: none; 
	color: #6196BC;
	
}
textarea {
	-webkit-appearance: none;
	height: 100%;
	width: 25em;
	padding: 0;
	background: transparent;
	font-weight: bold;
	font-size: 12px;
	padding-left: 5px;
	border: 1px solid #ffffff;
	resize: none;
}
.header {
	display: block;
	font-weight: bold;
	color: rgb(73,102,145);
	font-size: 12pt;
	margin-bottom: 6px;
	line-height: 14pt;
}
.pageitem {
-moz-border-radius: 8px;
 border-radius: 8px;
-webkit-border-radius: 8px;
background-color: white;
border: #878787 solid 1px;
font-size: 12px;
overflow: hidden;
padding: 0;
position: relative;
display: block;
height: auto;
width: auto;
margin: 3px 9px 17px;
list-style: none;

}
.graytitle {
	position: relative;
	font-weight: bold;
	font-size: 17px;
	right: 20px;
	left: 9px;
	color: #4C4C4C;
	text-shadow: #FFF 0 1px 0;
	padding: 1px 0 3px 8px;
}

#content {
	width: 99%;
	position: relative;
	min-height: 250px;
	margin-top: 10px;
	height: auto;
	z-index: 0;
	overflow: hidden;
}
.textbox {
	padding: 5px 9px;
	position: relative;
	overflow: hidden;
}
.textbox ul {
	margin: 3px 0 3px 0;
	list-style: circle!important;
}
.textbox li {
	margin: 0!important;
}
.textbox p {
margin-top: 2px;
color: black;
margin-bottom: 2px;
text-align: justify;
}
li {
display: list-item;
text-align: -webkit-match-parent;
}
#footer {
	text-align: center;
	position: relative;
	margin: 20px 10px 0;
	height: auto;
	width: auto;
	bottom: 10px;
	font-size: 15px;
	right: 20px;
	left: 9px;
	color: #4C4C4C;
	text-shadow: #FFF 0 1px 0;
	padding: 1px 0 3px 8px;
}
#footer a, #footer {
	text-decoration: none;
	color: #4C4C4C;
	text-shadow: #FFF 0 1px 0;
}
#footer a:hover {
	text-decoration: none; 
	color: #0f8fb5;
	
}
